name: gradle-cli-build

on:
  workflow_call:
    inputs:
      java-distribution:
        type: string
        description: Name of Java JDK distribution to use
        required: false
        default: temurin
      java-version:
        type: number
        description: Version of Java JDK to use
        required: false
        default: 21
      run-gradle-validation:
        type: boolean
        description: Value indicating if Gradle validation step should run
        required: true

jobs:
  gradle-cli-build:
    name: Gradle CLI Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup Java
        uses: actions/setup-java@v5.1.0
        with:
          distribution: ${{ inputs.java-distribution }}
          java-version: ${{ inputs.java-version }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.0
        with:
          validate-wrappers: ${{ inputs.run-gradle-validation }}

      - name: Build
        run: ./gradlew clean build

      - name: Codestyle
        uses: musichin/ktlint-check@v4.0.0
        with:
          ktlint-version: 1.2.1
