name: gradle-azure-app-service-deploy

on:
  workflow_call:
    inputs:
      azure-env:
        type: string
        description: Azure environment in which to deploy
        required: true
      azure-app-name:
        type: string
        description: Azure App Service application name
        required: true
      azure-app-package-path:
        type: string
        description: Azure application package path
        required: false
        default: build/libs/*.jar
      github-maven-package-base-uri:
        type: string
        description: GitHub Maven packages base URI
        required: true
    secrets:
      azure-app-credentials:
        description: Credentials used to authenticate with Azure cloud services
        required: true
      azure-app-profile:
        description: Azure App Service application profile
        required: true
      azure-app-settings:
        description: Azure App Service application settings
        required: true
      workflow-token:
        description: GitHub workflow token for pushing automated commits
        required: true

jobs:
  gradle-azure-app-service-deploy:
    name: Gradle Azure App Service Deploy
    runs-on: ubuntu-latest
    if: ${{ contains(github.event.pull_request.labels.*.name, format('deploy {0}', inputs.env)) && github.event.pull_request.merged == true }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Download Release Artifact
        run: |
          package=$(awk '/group/{print $NF; exit}' build.gradle.kts | sed s/\'//g | sed s/\"//g | tr "." "/")
          name=$(awk '/rootProject.name/{print $NF; exit}' settings.gradle.kts | sed s/\'//g | sed s/\"//g)
          version=$(echo "${LABEL}" | sed 's/[^0-9.]*\([0-9.]*\).*/\1/')
          file=${name}-${version}.jar
          artifact_uri="$GH_MAVEN_PACKAGE_BASE_URI/${GITHUB_REPOSITORY}/${package}/${name}/${version}/${file}"
          
          mkdir -p build/libs
          cd build/libs
          
          curl -H "Authorization: token ${GITHUB_TOKEN}" -L ${artifact_uri} -o ${file}

        env:
          GH_MAVEN_PACKAGE_BASE_URI: ${{ inputs.github-maven-package-base-uri }}
          LABEL: ${{ github.event.label.name }}
          GITHUB_TOKEN: ${{ secrets.workflow-token }}

      - name: Azure Login
        uses: azure/login@v2.3.0
        with:
          creds: ${{ secrets.azure-app-credentials }}

      - name: Configure App Settings
        uses: azure/appservice-settings@v1
        with:
          app-name: ${{ inputs.azure-app-name }}
          app-settings-json: ${{ secrets.azure-app-settings }}

      - name: Deploy
        uses: azure/webapps-deploy@v3.0.6
        with:
          app-name: ${{ secrets.azure-app-name }}
          publish-profile: ${{ secrets.azure-app-profile }}
          package: ${{ inputs.azure-app-package-path }}
