name: java-kotlin-code-coverage

on:
  workflow_call:
    inputs:
      java-distribution:
        type: string
        description: Name of Java JDK distribution to use
        required: false
        default: temurin
      java-version:
        type: number
        description: Version of Java JDK to use
        required: false
        default: 21
      run-code-coverage:
        type: boolean
        description: Value indicating if code coverage step should run
        required: true
      run-gradle-validation:
        type: boolean
        description: Value indicating if Gradle validation step should run
        required: true
    secrets:
      codecov-token:
        description: Codecov code coverage token
        required: false

jobs:
  java-kotlin-code-coverage:
    name: Java-Kotlin Code Coverage
    runs-on: ubuntu-latest
    if: ${{ inputs.run-code-coverage == true }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
        
      - name: Setup Java
        uses: actions/setup-java@v5.0.0
        with:
          distribution: ${{ inputs.java-distribution }}
          java-version: ${{ inputs.java-version }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.0
        with:
          validate-wrappers: ${{ inputs.run-gradle-validation }}

      - name: Build
        run: ./gradlew clean build

      - name: Coverage
        uses: codecov/codecov-action@v5.5.1
        with:
          files: ./build/reports/jacoco/test/jacocoTestReport.xml
          verbose: true
          token: ${{ secrets.codecov-token }}
