name: python-code-coverage

on:
  workflow_call:
    inputs:
      python-version:
        type: number
        description: Version of Python to use
        required: false
        default: 3.13
      run-code-coverage:
        type: boolean
        description: Value indicating if code coverage step should run
        required: true
    secrets:
      codecov-token:
        description: Codecov code coverage token
        required: true

jobs:
  python-code-coverage:
    name: Python Code Coverage
    runs-on: ubuntu-latest
    if: ${{ inputs.run-code-coverage == true }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: ${{ inputs.python-version }}
          cache: 'pip'

      - name: Display Python Version
        run: python -c "import sys; print(sys.version)"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build
        run: |
          pip install pytest pytest-cov
          python -m pytest --cov-config=pyproject.toml

      - name: Coverage
        uses: codecov/codecov-action@v5.5.2
        with:
          files: ./coverage.xml
          verbose: true
          token: ${{ secrets.codecov-token }}
