name: workflow-cancel

on:
  workflow_call:
    secrets:
      workflow-token:
        description: GitHub workflow token for pushing automated commits
        required: true

jobs:
  workflow-cancel:
    name: Workflow Cancel
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Cancel
        uses: styfle/cancel-workflow-action@0.13.0
        with:
          workflow_id: 'build.yml,codeql.yml,deploy-dev.yml,deploy-prod.yml,release.yml'
          access_token: ${{ secrets.workflow-token }}
