name: workflow-update-license-copyright

on:
  workflow_call:
    secrets:
      workflow-token:
        description: GitHub workflow token for pushing automated commits
        required: true

jobs:
  workflow-update-license-copyright:
    name: Workflow Update License Copyright
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          token: ${{ secrets.workflow-token }}

      - name: Update Workflow License Copyright
        uses: FantasticFiasco/action-update-license-year@v3.0.4
        with:
          token: ${{ secrets.workflow-token }}
